/* 커스텀 */
.con {
    width: 1000px;
}
.top-bar {
    background-color: #000;
    color: #fff;
}
.top-bar .logo {
    color: #fff;
    font-size: 4rem;
}
.top-bar nav > ul > li > a {
    padding: 0 40px;
}
.top-bar nav > ul > li:hover > a {
    color: #000;
    background-color: #fff;
}